<%- include('../includes/head.ejs') %>
<<<<<<< HEAD
<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Cart!</h1>

    <%- include('../includes/end.ejs') %>
</body>
=======
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <%- include('../includes/end.ejs') %>
>>>>>>> c9ebd50d1253976d873a52fc52dfaac1358802fd
